@import '../../../styles/variables.scss';

.modal-container {
  align-items: center;
  background-color: $gray-background;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: -5rem;
  position: absolute;
  width: 100%;

  .modal-content {
    background-color: $white;
    border: solid 2px $purple;
    border-radius: 10px;
    width: 60%;
    height: 40vh;
  }
}
