// palet colors
$black: #000;
$white: #fff;
$gray: #595959;
$gray-light: #d8d8d8;
$blue: #211449;
$purple: #543b9a;

// Breakpoints
$min: 320px;
$xxxsmall: 410px;
$xxsmall: 480px;
$xsmall: 576px;
$small: 640px;
$medium: 768px;
$large: 1024px;
$xlarge: 1200px;
$xxlarge: 1440px;
$xxxlarge: 1680px;
$max: 1920px;
