@import '../../../styles/variables.scss';

button {
  color: $white;
  border: solid 1px $purple-strong;
  border-radius: 8px;
  background-color: $purple;
  padding: 0.8rem 3rem;
}

button:active {
  transform: scale(0.9);
}
