@import '../../../styles/variables.scss';

header {
  background-color: $purple;
  padding: 1rem 0;

  .header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: $header-height;
    margin: auto !important;
    max-width: $large;

    .first-section {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 90%;

      svg{
        margin: 0.5rem 0.5rem 0;
      }
      span {
        font-size: 1.3rem;
        color: $gray-light;
        margin-left: 0.5rem;
      }

      .close-icon {
        cursor: pointer;
      }

      .hamburger-icon{
        cursor: pointer;
      }
    }

    .second-section {
      display: none;
    }
  }
}

@media (min-width: $large) {
  header {
    .header-container {
      .first-section {
        width: 50%;
        justify-content: flex-start;
      }
      .second-section {
        display: flex;
        justify-content: flex-end;
        width: 50%;

        .notifications-icon {
          margin-right: 1rem;
        }

        .user {
          align-items: center;
          display: flex;

          span {
            color: $white;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
