@import '../../../styles/variables.scss';

.main-layout {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  main {
    min-height: calc(100vh - 9rem);
  }
}

.hiden {
  overflow: hidden;
}
