@import '../../../styles/variables.scss';

.input {
  margin: 0.5rem 0;
  width: 100%;

  label {
    font-size: 0.8rem;
    display: block;
  }

  input {
    border: solid 1px $blue-light;
    border-radius: 5px;
    margin: 0.5rem 0;
    width: 90%;
    padding: 0.5rem;

    &::placeholder {
      color: $purple;
      font-size: 0.6rem;
    }
  }

  .error {
    color: $red;
    font-size: 0.6rem;
  }
}
